---
layout: default
title: 'Beverly Willis Architecture Foundation '
homepage: true
short-description: >-
  Beverly Willis Architecture Foundation is changing the industry of design and
  construction, for women, through education and research.
description: >-
  Beverly Willis Architecture Foundation is changing the industry of design and
  construction, for women, through education and research.
navCategory: Homepage
blocks:
  - link: https://bwaf.org/programs/industry-leaders-roundtable-retreat
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1757448704/250909_NY_Roundtable_Graphics_V1__.png
    category: PROGRAMS
    label:
    line_1: 'Industry Leaders Roundtable: New York City'
    line_2: Save the Date
  - link: https://ohny.org/place/beverly-willis-architecture-foundation-2/
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1759332877/OHNY_BWAF_PIC.jpg
    category: NEWS
    label: NEWS
    line_1: OHNY WEEKEND
    line_2: 'Built by Women Self-Guided Walking Tour: October 18 & 19'
  - link: https://bwaf.org/resources/podcast
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1755710756/WSPA_w_logo.png
    category: PODCAST
    label: Lower Left
    line_1: 'New Angle: Voice'
    line_2: '"Not Only Survive, but Flourish: The Story of WSPA" Out Now!'
  - link: https://bwaf.org/built-by-women
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1758760370/WeBuiltThis_IG.gif
    category: PROGRAMS
    label:
    line_1: 'Built by Women Map: NYC 2026'
    line_2: 'Submissions Close: October 24'
  - link: https://www.archpaper.com/2025/06/nonprofits-form-public-design-alliance/
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1751898830/ARCHPAPER_POST_V1.jpg
    category: NEWS
    label: NEWS
    line_1: BWAF Stands with Public Design Alliance
    line_2: A new coalition to combat federal funding cuts
  - link: https://www.archpaper.com/2024/09/an-tributes-to-beverly-willis/
    image: /uploads/screenshot-2024-09-30-at-5-35-15-pm.png
    category: NEWS
    label: NEWS
    line_1: 'Remembering Bev '
    line_2: Architect's Newspaper shares tribute to Beverly Willis (1928-2023)
  - link: >-
      https://www.aiany.org/news/aia-new-york-elects-2025-leadership-and-honors-community-achievements-at-157th-annual-meeting/
    image: /uploads/beverlywillis.jpg
    category: NEWS
    label: NEWS
    line_1: 'BWAF received a Special Citation for Service to Women in Architecture '
    line_2: 'AIA New York | Center for Architecture '
_inputs:
  title:
    hidden: true
  category:
    type: text
---
<div class="home main" style="flex-wrap: wrap;">
    <div>
        <div>
            <p class="lg">{{page.short-description}}</p>
            <a class="btn" href="/mission">Learn More</a>
        </div>
        {% for block in page.blocks %}
        <div>
            <a href="{{block.link}}">
                <div class="image-container">
                    <img src="{{block.image}}" />
                </div>
                <h4>{{block.category}}</h4>
                <h2>
                    <b>{{block.line_1}}</b>
                    <br />{{block.line_2}}
                </h2>
            </a>
        </div>
        
    {% if forloop.index == 3 %}
    </div>
    <div style="flex: 1;">
    {% endif %}
    {% endfor %}
        <!-- <div>
            <a href="#">
                <img src="/assets/img/placeholder2.png">
                <h4>Programs</h4>
                <h2>
                    <b>Upcoming Program Item Headline</b>
                    <br>Second Line of Headline Here
                </h2>
            </a>
        </div>
        <div>
            <a href="/emerging-leaders">
                <img src="/assets/img/placeholder3.png">
                <h4>Programs</h4>
                <h2>
                    <b>Upcoming Program Item Headline</b>
                    <br>Second Line of Headline Here
                </h2>
            </a>
        </div> -->
        <div id="custom">
            <a href="/support">
                <div class="module">
                    <h2>Donate to Beverly Willis Architecture Foundation and enjoy membership benefits→</h2>
                </div>
            </a>
        </div>
        <div class="newsletter-signup">
            <h2><b><a href="/subscribe">Sign up for our newsletters →</a></b></h2>
        </div>
    </div>
</div>