---
layout: default
title: 'Beverly Willis Architecture Foundation '
homepage: true
short-description: >-
  Beverly Willis Architecture Foundation is changing the industry of design and
  construction, for women, through education and research.
description: >-
  Beverly Willis Architecture Foundation is changing the industry of design and
  construction, for women, through education and research.
navCategory: Homepage
blocks:
  - link: >-
      https://www.archpaper.com/2024/01/beverly-willis-architecture-foundation-the-bev-manhattan/
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1705003167/Screen_Shot_2024-01-11_at_2.57.20_PM.png
    category: ''
    label: ''
    line_1: ''
    line_2: ''
  - link: https://bwaf.org/resources/podcast
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1634069739/BWAF_New_Angle_cover_vq0shw.jpg
    category: LISTEN NOW TO THE SECOND SEASON
    label: Lower Left
    line_1: 'New Angle: Voice'
    line_2: >-
      Latest Episode: Architecture, Family Style – The Lives and Work of Sarah
      Harkness and Jean Fletcher
  - link: ''
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1683746335/Ada_Louise.jpg
    category: ''
    label: ''
    line_1: ''
    line_2: ''
  - link: https://bwaf.org/beverlywillis
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1699978647/bev-homepage-tile.jpg
    category: ''
    label: Upper Left
    line_1:
    line_2: ''
  - link: https://pioneeringwomen.bwaf.org
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1621972842/Pioneers_bbmsoo.jpg
    category: Resources
    label: Lower Right
    line_1: Pioneering Women of American Architecture
    line_2: >-
      Pioneering Women of American Architecture is a collection of profiles of
      fifty women who have made important contributions to American
      architecture.
_inputs:
  title:
    hidden: true
  category:
    type: text
---
<div class="home main" style="flex-wrap: wrap;">
    <div>
        <div>
            <p class="lg">{{page.short-description}}</p>
            <a class="btn" href="/mission">Learn More</a>
        </div>
        {% for block in page.blocks %}
        <div>
            <a href="{{block.link}}">
                <div class="image-container">
                    <img src="{{block.image}}" />
                </div>
                <h4>{{block.category}}</h4>
                <h2>
                    <b>{{block.line_1}}</b>
                    <br />{{block.line_2}}
                </h2>
            </a>
        </div>
        
    {% if forloop.index == 3 %}
    </div>
    <div style="flex: 1;">
    {% endif %}
    {% endfor %}
        <!-- <div>
            <a href="#">
                <img src="/assets/img/placeholder2.png">
                <h4>Programs</h4>
                <h2>
                    <b>Upcoming Program Item Headline</b>
                    <br>Second Line of Headline Here
                </h2>
            </a>
        </div>
        <div>
            <a href="/emerging-leaders">
                <img src="/assets/img/placeholder3.png">
                <h4>Programs</h4>
                <h2>
                    <b>Upcoming Program Item Headline</b>
                    <br>Second Line of Headline Here
                </h2>
            </a>
        </div> -->
        <div id="custom">
            <a href="/support">
                <div class="module">
                    <h2>Donate to Beverly Willis Architecture Foundation and enjoy membership benefits→</h2>
                </div>
            </a>
        </div>
        <div class="newsletter-signup">
            <h2><b><a href="/subscribe">Sign up for our newsletters →</a></b></h2>
        </div>
    </div>
</div>