---
layout: default
title: 'Beverly Willis Architecture Foundation '
homepage: true
short-description: >-
  Beverly Willis Architecture Foundation is changing the industry of design and
  construction, for women, through education and research.
description: >-
  Beverly Willis Architecture Foundation is changing the industry of design and
  construction, for women, through education and research.
navCategory: Homepage
blocks:
  - link: https://www.archpaper.com/2025/06/nonprofits-form-public-design-alliance/
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1751898830/ARCHPAPER_POST_V1.jpg
    category: NEWS
    label: NEWS
    line_1: BWAF stands with Public Design Alliance
    line_2: A new coalition to combat federal funding cuts
  - link: https://bwaf.org/programs/industry-leaders-roundtable-retreat
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1751899454/IndustryLeadersRoundtable2025Graphic_Mailchimp.png
    category: PROGRAMS
    label: ''
    line_1: 'Industry Leaders Roundtable: SF & NYC'
    line_2: Save the Date
  - link: https://bwaf.org/resources/podcast
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1634069739/BWAF_New_Angle_cover_vq0shw.jpg
    category: LISTEN NOW TO THE THIRD SEASON
    label: Lower Left
    line_1: 'New Angle: Voice'
    line_2: 'Latest Episode: Catherine Bauer Wurster: A Thoroughly Modern Woman'
  - link: >-
      https://calendar.aiany.org/2025/07/24/collective-access-disability-gender-and-design/
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1751898783/LIU-interior-1280x854.jpg
    category: EVENTS
    label:
    line_1: >-
      Join us for "Collective Access: Disability, Gender, and Design" with
      Center for Architecture
    line_2: July 24, 1pm - 2pm
  - link: https://www.archpaper.com/2024/09/an-tributes-to-beverly-willis/
    image: /uploads/screenshot-2024-09-30-at-5-35-15-pm.png
    category: NEWS
    label: NEWS
    line_1: 'Remembering Bev '
    line_2: Architect's Newspaper shares tribute to Beverly Willis (1928-2023)
  - link: https://bwaf.org/beverlywillis
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1699978647/bev-homepage-tile.jpg
    category: 'ABOUT '
    label: Upper Left
    line_1: Beverly Willis
    line_2: ''
  - link: https://pioneeringwomen.bwaf.org
    image: >-
      https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/v1621972842/Pioneers_bbmsoo.jpg
    category: RESOURCES
    label: Lower Right
    line_1: Pioneering Women of American Architecture
    line_2: >-
      A collection of profiles of fifty women who have made important
      contributions to American architecture.
  - link: >-
      https://www.aiany.org/news/aia-new-york-elects-2025-leadership-and-honors-community-achievements-at-157th-annual-meeting/
    image: /uploads/beverlywillis.jpg
    category: NEWS
    label: NEWS
    line_1: 'BWAF received a Special Citation for Service to Women in Architecture '
    line_2: 'AIA New York | Center for Architecture '
_inputs:
  title:
    hidden: true
  category:
    type: text
---
<div class="home main" style="flex-wrap: wrap;">
    <div>
        <div>
            <p class="lg">{{page.short-description}}</p>
            <a class="btn" href="/mission">Learn More</a>
        </div>
        {% for block in page.blocks %}
        <div>
            <a href="{{block.link}}">
                <div class="image-container">
                    <img src="{{block.image}}" />
                </div>
                <h4>{{block.category}}</h4>
                <h2>
                    <b>{{block.line_1}}</b>
                    <br />{{block.line_2}}
                </h2>
            </a>
        </div>
        
    {% if forloop.index == 3 %}
    </div>
    <div style="flex: 1;">
    {% endif %}
    {% endfor %}
        <!-- <div>
            <a href="#">
                <img src="/assets/img/placeholder2.png">
                <h4>Programs</h4>
                <h2>
                    <b>Upcoming Program Item Headline</b>
                    <br>Second Line of Headline Here
                </h2>
            </a>
        </div>
        <div>
            <a href="/emerging-leaders">
                <img src="/assets/img/placeholder3.png">
                <h4>Programs</h4>
                <h2>
                    <b>Upcoming Program Item Headline</b>
                    <br>Second Line of Headline Here
                </h2>
            </a>
        </div> -->
        <div id="custom">
            <a href="/support">
                <div class="module">
                    <h2>Donate to Beverly Willis Architecture Foundation and enjoy membership benefits→</h2>
                </div>
            </a>
        </div>
        <div class="newsletter-signup">
            <h2><b><a href="/subscribe">Sign up for our newsletters →</a></b></h2>
        </div>
    </div>
</div>