---
title: Sample
permalink: /sample
layout: none
page_blocks:
- template: text-block
  text_block: |-
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec mi efficitur, faucibus ante et, hendrerit eros. Curabitur malesuada mi felis, sed venenatis leo efficitur non. Nunc sed interdum dolor. Proin maximus aliquam facilisis. Donec id hendrerit tellus. Nulla ut dignissim nisl. Nullam at odio felis. Ut bibendum, erat at placerat egestas, mauris nunc convallis risus, ut porttitor arcu dolor vitae enim. In facilisis scelerisque tristique. Nullam semper risus sit amet lacinia fringilla. Aenean et volutpat sem, ac vestibulum urna.

    Etiam in aliquam purus. Suspendisse id arcu nunc. Morbi quis tincidunt augue. Sed finibus id justo ut pharetra. Nullam ut lacus rutrum, iaculis turpis vel, tristique nibh. Proin nulla turpis, sagittis ac mauris vitae, vehicula commodo nulla. Sed aliquam sagittis fermentum. Duis sit amet felis lorem. Suspendisse ultricies, orci quis varius egestas, tortor diam varius tortor, et congue ligula orci vel orci. Sed porttitor lectus turpis, in laoreet mi maximus id.
  include_left-hand_column_text_: true
  lefthand_text:
    header_type: Large Header
    text: This is a Header
    download: ''
    link_url: ''
- template: image-block
  alt_text: Founder Beverly Willis and Executive Director Cynthia Kracauer in a Time’s
    Up Flash Mob, 2018
  image_caption_text: Founder Beverly Willis and Executive Director Cynthia Kracauer
    in a Time’s Up Flash Mob, 2018
  image: "/v1610938367/BROapL6A_ozaked.jpg"
  include_left-hand_column_text_: false
  lefthand_text:
    header_type: 'Medium Header'
    text: 'This is a Header'
    download: ''
- template: slideshow-block
  include_left-hand_column_text_: true
  lefthand_text:
    header_type: Small Header
    text: This is a Header
    download: ''
    link_url: ''
    link_text: ''
  image:
  - image: "/v1610940900/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-136_gp8rjc.jpg"
    caption: gala caption 2
  - image: "/v1610940879/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-104_brv2jb.jpg"
    caption: gala caption
  - image: "/v1610940787/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-22_jxjejm.jpg"
    caption: ''
  - image: "/v1610940811/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-29_hhu42k.jpg"
    caption: Caption
  - image: "/v1610940789/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-26_ohkwe0.jpg"
    caption: Image caption 2
  - image: "/v1610940736/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-21_ktx20r.jpg"
    caption: Image caption 1
- template: timeline-block
  section_break: true
  include_left-hand_column_text_: true
  lefthand_text:
    header_type: Film/Book Title
    text: This is a Header
    download: ''
    link_url: ''
  timeline:
  - year: "2009"
    header: BWAF redefines mission
    description: Accepting a broader understanding of design that embraces all aspects
      of the built environment, BWAF re-structures its programs to reflect the expanded
      mission.
  - year: "2002"
    header: Founded
    description: February 21st with support from Beverly Willis.
  - year: "2005"
    header: Grant program begins
    description: 'Projects funded from 2005 to 2013 include USA: Modern Architectures
      in History, A Girl Is A Fellow Here, and Charles & Ray Eames.'
  - year: "2006"
    header: National Building Museum and BWAF begin collaboration
    description: The women of architecture program began at the nation’s premium institution
      for building excellence, in observance of Women’s History Month.
  - year: "2007"
    header: Concept for Dynamic National Archive Begins
    description: Trustee Diane Favro creates the first version of the wiki-style collection
      of women of 20th century American architecture that eventually becomes the DNA.
- template: portrait-gallery-template
  include_left-hand_column_text_: true
  lefthand_text:
    header_type: Link
    text: Find out more
    link_url: "/"
  portrait:
  - title: Patricia Harris, Esq
    title_role: LicenseSure LLC/ Zetlin & De Chiara LLP
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
    description: Patti Harris, Founder and CEO of LicenseSure LLC and Special Counsel
      to Zetlin & De Chiara LLP, provides legal and business counsel to architects
      and engineers throughout the United States. A serial entrepreneur as well as
      an attorney, Patti started her career as a corporate attorney with two New York
      City law firms. From 2000 to 2013, Patti served as the Managing Partner of Zetlin
      & De Chiara. Harris is the Founder and CEO of LicenseSure, which provides business
      and licensing compliance services to design professionals. Ms. Harris’ legal
      practice focuses on mergers and acquisitions, business organization and management
      issues, succession, strategy and licensing issues.
  - title: Angelica Baccon
    title_role: AIA, Principal at SHoP Architects
    image: "/v1610937006/s_170713_webview_jkbimz.jpg"
    description: Angelica Trevino Baccon is a principal of SHoP. She has a particular
      specialty in leading complex mixed-use and workplace design projects, often
      at the intersection of enterprise and technology. These include the new Uber
      headquarters in San Francisco and several confidential projects for global leaders
      in Silicon Valley. She holds a Bachelor in Architecture degree from ITESM in
      Monterrey, Mexico, and a Master of Architecture from Harvard University, where
      she has also served as a professor. Her work on New York City’s South Street
      Seaport established her deep expertise in fast-paced, high-profile design and
      delivery challenges with multilayered stakeholder groups, successfully leveraging
      programs to promote vitality, equity and community in the private sector and
      public realm.
  - title: Joan Blumenfield
    title_role: FAIA, FIIDA, LEED ID+C
    image: "/v1610937099/JoanBlumenfeld_gzuyea.jpg"
    description: "Joan Blumenfeld, Contract Magazine’s 2018 Legend, is a design principal
      at Perkins+Will, a global architecture and interiors firm. Over the past 10
      years she has been committed to achieving gender equity across all aspects of
      the design and construction business. As the first president of the Beverly
      Willis Architecture Foundation (BWAF) she facilitated broadening its mission
      to include changing culture throughout the industry. She remained President
      for five years, helping to grow the organization to have national recognition,
      and since 2011 served on the Executive Committee, stepping down on January 1
      of this year.\n\nPrevious and parallel to her work with BWAF she has been an
      active advocate for building better and more healthy interiors, buildings and
      communities. As 2007 President of AIA NYC, she worked with city agencies and
      the Mayor's Office, resulting in the first revamping of citywide workplace standards
      since 1971. She assisted NYC agencies in developing a LEED point for Active
      Design, and also served as the design advisor to the GSA and the CDC in creating
      Fitwel, a scorecard for designing healthy buildings and interiors. \nHer widely
      published and award winning work is notable for incorporating socially responsible
      principals of designing for health and sustainability.\L"
  - title: Melissa Burton
    title_role: ''
    image: "/v1610937147/2017_Burton_Melissa_01_980x780_aev98l.jpg"
    description: ''
  - title: Peter DiMaggio
    title_role: P.E., SECB
    image: "/v1610937178/sml_DiMaggio_Peter_headshot_srramp.jpg"
    description: Peter DiMaggio is Co-CEO of Thornton Tomasetti and is responsible
      for defining, articulating and driving the firm’s strategic vision. In addition
      to participating in the development and execution of the overall business plan,
      he is involved in strategic initiatives from identifying new markets and merger
      and acquisition opportunities to instituting mentorship and professional development
      programs. Pete is a recognized expert in special structures and protective design
      and security. He has been involved in the design and structural hardening of
      numerous government buildings, including more than 40 U.S. embassies, federal
      facilities and courthouses. His diverse portfolio also includes office buildings,
      educational facilities, hotels, stadiums, laboratories, residential towers and
      unique structures around the world.
- template: portrait-gallery-block-small
  include_left-hand_column_text_: true
  lefthand_text:
    header_type: Text with Download
    text: Applications for the fellowship are now open
    link_url: '/'
    link_text: Download the application
  header: Meet our 2020 Emerging Leaders
  portrait:
  - title: This is a name
    title_role: This is the title
    image: "/v1610940879/BWAF_Gala_2020_The_Berman_Group_Chris_Bacarella_Photography-104_brv2jb.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
  - title: Firstname M. Lastname
    title_role: Title Teekay and Title Teekay
    image: "/v1610937223/PatriciaHarrisHeadshot-2-e1454609739415_rkq5sz.jpg"
- template: featured-portrait-block
  header: Priorities
  image: /v1618424460/Jenna_Wandishin_headshot_rvldp9.jpg
  label: Speaker
  title: Margaret Newman, FAIA, LEED AP BD+C
  subtitle: Principal, Integrated Planning Team | Arup
  description: How do we ever know what to do first? How do our priorities change as our career develops? Discuss these challenges with Bloomberg administration veteran New York City Department of Transportation Commissioner Chief of Staff, Arup Urban Planner and Principal, Margaret Newman.
  time-location:
    line-1: April 14, 2020
    line-2: Virtual session
- template: media-gallery-block
  media:
  - image/video: ''
    image_title: Title of media clip about Beverly Willis
  include_left-hand_column_text_: false
  lefthand_text:
    header_type: ''
    text: ''
    download: ''
    link_url: ''
- template: miscellaneous-block
  include_left-hand_column_text_: true
  lefthand_text:
    header_type: ''
    text: ''
    download: ''
    link_url: ''
  text_block: |-
    # Heading 1 (not recommended)

    ## Heading 2
    ## **Heading 2 + Bold**

    ### Heading 3
    ### **Heading 3 + Bold**

    #### Heading 4
    #### **Heading 4 + Bold**

    ##### Heading 5
    ##### **Heading 5 + Bold**

    ###### Heading 6
    ###### **Heading 6 + Bold**

    * Bullet 1
    * Bullet 2
    * Bullet 3

    1. Numbered 1
    2. Numbered 2
    3. Numbered 3

    > Blockquote. (Not recommended). Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac nunc erat.

        Codeblock. (Not recommended).

    **Bold text.** _Italic text._ [Inline link.](/ "link")

    Paragraph text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac nunc erat. Etiam egestas facilisis arcu, ac mattis eros fermentum ut. Fusce ex urna, luctus sed dictum id, luctus ac magna. Quisque a blandit risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
---

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Block Samples</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex" />
<link rel="stylesheet" href="https://fonts.typotheque.com/WF-036280-011387.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/main.css">
</head>
<body">
    <div id="page-container">
            
    {% include nav.html %}

    {% for block in page.page_blocks %}
        {% if block.section_break %}
        <div class="hr"></div>
        <figcaption><mark><b>(Section break turned on for this section)</b></mark><br><br></figcaption>
        {% endif %}
        <div class="main-two-up">
            <div>
                {% if block.lefthand_text.header_type == 'Large Header' %}
                <figcaption><mark><b>Large Header</b></mark><br><br></figcaption>
                <h1>{{block.lefthand_text.text}}</h1>
                {% elsif block.lefthand_text.header_type == 'Medium Header' %}
                <figcaption><mark><b>Medium Header</b></mark><br><br></figcaption>
                <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
                {% elsif block.lefthand_text.header_type == 'Small Header' %}
                <figcaption><mark><b>Small Header</b></mark><br><br></figcaption>
                <h2><b>{{block.lefthand_text.text}}</b></h2>
                {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
                <figcaption><mark><b>Film/Book Title</b></mark><br><br></figcaption>
                <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
                {% elsif block.lefthand_text.header_type == 'Link' %}
                <figcaption><mark><b>Link</b></mark><br><br></figcaption>
                {% include block_l_link.html %}
                {% elsif block.lefthand_text.header_type == 'Text with Download' %}
                <figcaption><mark><b>Download Link</b></mark><br><br></figcaption>
                {% include block_l_link_download.html %}
                {% endif %}
            </div>
            <div>
                {% if block.template == "text-block" %}
                <figcaption><mark><b>Text Block</b></mark><br><br></figcaption>
                {% include block_r_text.html %}
                {% elsif block.template == "image-block"%}
                <figcaption><mark><b>Image Block</b></mark><br><br></figcaption>
                {% include block_r_image.html %}
                {% elsif block.template == "slideshow-block" %}
                <figcaption><mark><b>Slideshow Block</b></mark><br><br></figcaption>
                {% include block_r_slideshow.html %}
                {% elsif block.template == "timeline-block"%}
                <figcaption><mark><b>Timeline Block</b></mark><br><br></figcaption>
                {% include block_r_timeline.html %}
                <figcaption><mark><b>Portrait Gallery</b></mark><br><br></figcaption>
                {% elsif block.template == "portrait-gallery-template"%}
                {% include block_r_portraits.html %}
                {% elsif block.template == "portrait-gallery-block-small" %}
                <figcaption><mark><b>Portrait Gallery (Small)</b></mark><br><br></figcaption>
                {% include block_r_portraits_sm.html %}
                {% elsif block.template == "featured-portrait-block" %}
                <figcaption><mark><b>Featured Portrait</b></mark><br><br></figcaption>
                {% include block_r_featured-portrait.html %}
                {% elsif block.template == "media-gallery-block"%}
                <figcaption><mark><b>Media Gallery</b></mark><br><br></figcaption>
                {% include block_r_media_gallery.html %}
                {% elsif block.template == "miscellaneous-block"%}
                <figcaption><mark><b>Miscellaneous</b></mark><br>Use infrequently.<br>Recommended to use "Heading 2 + Bold" or "Heading 3 + Bold" styles for headers<br><br></figcaption>
                {% include block_r_text.html %}
                
                {% endif %}
            </div>
        </div>
    {% endfor %}
        <footer>
        <div>
            <b>Beverly Willis
            <br>Architecture Foundation</b>
        </div>
        <div>
            141 W. Broadway
            <br>New York, NY 10013
        </div>
        <div>
            info@bwaf.org
            <br>212.577.1200
        </div>
        <div>
            <div class="social">
                <a href="https://www.facebook.com/beverlywillisarchitecturefoundation/"><img src="/assets/img/facebook-brands.svg"></a>
                <a href="https://twitter.com/BWArchFdn"><img src="/assets/img/twitter-brands.svg"></a>
                <a href="https://www.instagram.com/bwaf.nyc/"><img src="/assets/img/instagram-brands.svg"></a>
                <a href="/subscribe" class="btn">Newsletter</a>
            </div>
        </div>
    </footer>
    
    <!-- page container -->
    </div>
    <script src="/assets/js/script.js" async defer></script>
    </body>
</html>