<div class="media-gallery-block">
    {% for media in block.media %}
    <div>
        
        <a href="{{media.link_to_video}}" target="_blank">
            <div class="img-container image-container">
                {% if media.image != '' %}
                <img src="{{media.image}}" alt="">
                {% else %}
                <img src="/assets/img/placeholder.png" alt="">
                {% endif %}
                <span class="play"></span>
            </div>
            <h5><b>{{media.title}}</b></h5>
        </a>
    </div>
    {% endfor %}
</div>