<div class="text-with-download">
    <p>{{block.lefthand_text.text}}</p>
    {% if block.lefthand_text.link_text != '' %}
    <a href="{{block.lefthand_text.download}}" download>
        {{block.lefthand_text.link_text}}
        <svg id="Download" xmlns="http://www.w3.org/2000/svg" width="14.97" height="14.554" viewBox="0 0 14.97 14.554">
            <path id="Path" d="M9.975,4.977H7.431V0h-5.1V4.977H0l5.03,5Z" transform="translate(2.493 0.108)" fill="#f4364c"/>
            <path id="Path-2" data-name="Path" d="M12.469,0V2.494H2.494V0H0V4.987H14.963V0Z" transform="translate(0.004 9.459)" fill="#f4364c"/>
        </svg>
    </a>
    {% endif %}
</div>