<div>
    <div class="event-block">
        <h2><b>{{block.header}}</b></h2>
        <div>
            <div>
                <img src="{{site.cloudinary}}{{block.image}}">
            </div>
            <div>
                <h6>{{block.label}}</h6>
                <h5><b>{{block.title}}</b>
                    <br>{{block.subtitle}}
                </h5>
                <p>{{block.description}}</p>
                {% if block.time-location.line-1 %}
                <h6>Time and location</h6>
                <p class="time-location">
                    <b>
                        {{block.time-location.line-1}}
                        <br>{{block.time-location.line-2}}
                    </b>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>