<div class="media-gallery-block">
    <div>
        <a href="#">
            <div class="img-container image-container">
                <img src="/assets/img/beverly-willis-video.png" alt="">
                <span class="play"></span>
            </div>
            <h5><b>Title of media clip about Beverly Willis</b></h5>
        </a>
    </div>
    <div>
        <a href="#">
            <div class="img-container image-container">
                <img src="/assets/img/beverly-willis-video.png" alt="">
                <span class="play"></span>
            </div>
            <h5><b>Title of media clip about Beverly Willis</b></h5>
        </a>
    </div>
    <div>
        <a href="#">
            <div class="img-container image-container">
                <img src="/assets/img/beverly-willis-video.png" alt="">
                <span class="play"></span>
            </div>
            <h5><b>Title of media clip about Beverly Willis</b></h5>
        </a>
    </div>
    <div>
        <a href="#">
            <div class="img-container image-container">
                <img src="/assets/img/beverly-willis-video.png" alt="">
                <span class="play"></span>
            </div>
            <h5><b>Title of media clip about Beverly Willis</b></h5>
        </a>
    </div>
</div>