    <footer>
        <div>
            <b>Beverly Willis
            <br>Architecture Foundation</b>
        </div>
        <div>
            141 W. Broadway
            <br>New York, NY 10013
        </div>
        <div>
            info@bwaf.org
            <br>212.577.1200
        </div>
        <div>
            <div class="social">
                <a href="https://www.facebook.com/beverlywillisarchitecturefoundation/"><img src="/assets/img/facebook-brands.svg"></a>
                <a href="https://twitter.com/BWArchFdn"><img src="/assets/img/twitter-brands.svg"></a>
                <a href="https://www.instagram.com/bwaf.nyc/"><img src="/assets/img/instagram-brands.svg"></a>
                <a href="/subscribe" class="btn">Newsletter</a>
            </div>
        </div>
    </footer>
    
    <!-- page container -->
    </div>
    <script src="/assets/js/script.js" async defer></script>
    </body>
</html>