---
---

@font-face {
  font-family: 'GT America';
  src: url('/assets/fonts/GT-America-Standard-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('/assets/fonts/GT-America-Standard-Regular-Italic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/GT-America-Standard-Regular-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Regular-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Regular-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GT America';
  src: url('/assets/fonts/GT-America-Standard-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/GT-America-Standard-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('/assets/fonts/GT-America-Standard-Bold-Italic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/GT-America-Standard-Bold-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Bold-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/GT-America-Standard-Bold-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}

:root{
    --margin:30px;
    --navHeight:80px;
    --gutter:60px;
    --red:#F4364C;
    --green:#6BCABA;
    --spacer: 80px;
}

html{
    -webkit-font-smoothing: antialiased;
    // font-family: 'GT America', sans-serif;
    
}
body{
    margin:0px;
    font-size:24px;
    font-family: "William Text Regular";
    line-height:1.25;
    color:#333333;
}
ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}
a{
    color:black;
    text-decoration:none;
}
button{
    border:0px;
    padding:0px;
    border-radius:0px;
    background:transparent;
    font-size:1rem;
    cursor:pointer;
}
h1, .h1, .h1 a{
    font-size:60px;
    text-transform:none;
    font-weight:normal;
    line-height:1;
    font-family:'GT America', sans-serif;
    // margin-bottom:36px;
    margin-bottom:0px;
}
h2, h4{
    font-weight:normal;
    font-family:'GT America', sans-serif;
}
h2, .h2{
    font-size:28px;
    line-height:34px;
    font-family:'GT America', sans-serif;
}
h3, .h3{
    font-size:36px;
    line-height:42px;
    font-family:'GT America', sans-serif;
    font-weight:normal;
    margin-top:0px;
}
h4{
    text-transform: uppercase;
    font-size:16px;
    line-height:20px;
    letter-spacing: 0.5px;
}
h5{
    font-size:21px;
    line-height:26px;
    font-family:'GT America', sans-serif;
    margin-top:10px;
    font-weight:normal;
}
h6{
    text-transform:uppercase;
    letter-spacing:0.5px;
    font-size:16px;
    font-family:'GT America', sans-serif;
    font-weight:normal;
    margin:0px;
    margin-bottom: 10px;
}
p{
    margin-top:0px;
}
p.sm{
    font-size:16px;
    line-height:21px;
}
p a, p strong{
    font-weight:bold;
    font-family:'GT America', sans-serif;
}
p a{
    border-bottom:1px solid black;
}
img{
    width:100%;
}
.hr{
    width:100%;
    height:1px;
    border-bottom:1px solid #969696;
    height:100px;
}
button:focus{outline:none;}
nav{
    position:sticky;
    padding:20px var(--margin);
    width:calc(100vw - var(--margin)*2);
    top:0px;
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #969696;
    background:white;
    z-index: 2;
    > ul{
        display:flex;
        li {
            margin-left:50px;
        }
        button, a{
            text-transform:uppercase;
            font-weight:bold;
            text-decoration: none;
            letter-spacing: 0em;
            color: #333333;
            font-size:28px;
            font-family:'GT America', sans-serif;
        }
    }
    #logo{
        height: 42px;
        transition: height 400ms;
        svg{
            height:100%;
            width:50px;
            transition: width 400ms;
        }
    }
    .subnav{
        position:fixed;
        width:100vw;
        transform:translateY(-200%);
        transition:transform 400ms;
        z-index:-1;
        left:0px;
        top:77px;
        box-shadow: 0px 3px 6px #00000080;
        display:flex;
        background:white;
        svg{width:36px;height:36px;}
        li{
            margin-left:0px;
            margin-bottom:36px;
        }
        a{transition: color 200ms}
        li:hover a{color:var(--green)}
        li:hover a:not(.external):after{
            content:'→';
            display:inline-block;
            animation:fadeRight 100ms both ease-in;
            position:relative;
            // color:var(--green);
        }
        li:hover svg path{
            fill:var(--green);
        }
        @keyframes fadeRight{
            0%{left:0px;opacity:0;}
            100%{left:10px;opacity:1;}
        }
        ul{
            flex: 9;
            padding:var(--margin);
            border-right:1px solid #969696;
        }
        .right{
            flex:3;
            height:100%;
            padding:var(--margin);
            > * {
                margin-bottom:40px;
            }
            span{
                font-family:'GT America', sans-serif;
                font-weight:bold;
            }
            .social img{
                margin-right:10px;
            }
        }
        .donateBtn{
            border-radius:50%;
            background:var(--red);
            font-size:24px;
            text-transform:none;
            height:150px;
            width:150px;
            color:white;
            text-align:center;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .h1{
            max-width:700px;
        }
    }
    button.active + .subnav{transform:translateY(0%);}
    .background{
        width:100%;
        height:100%;
        background:white;
        position:absolute;
        z-index:-1;
        top:0px;
        left:0px;
        border-bottom:1px solid #969696;
    }
}
nav.lg{
    #logo{
        height:136px;
        svg{
            width:155px;
            #logoCover1, #logoCover2{
                fill: transparent;
            }
        }
    }    
}
nav.subnav-open > ul > li {
    > button, > a{
        color:#e5e5e5;
    }
}
nav.subnav-open .active{
    color:#333333;
}
#page-container {
  position: relative;
//   padding-bottom:159px; //footer height
}
footer{
    padding:var(--spacer) var(--margin) var(--margin);
    width:calc(100vw - var(--margin)*2);
    display:flex;
    font-family:'GT America';
    font-size:18px;
    line-height:24px;
    // position: absolute;
    bottom: 0;
    // border-top:1px solid #969696;
    > * {
        flex:1;
    }
    > *:last-child{
        text-align:right;
        display:flex;
        flex-direction:column;
        justify-content: flex-end;;
    }
    a{
        text-decoration: none;
        margin-left:10px;
    }
    a.btn{margin-left:15px;}
}

a.btn{
    background:var(--green);
    padding:3px 10px;
    font-family:'GT America', sans-serif;
    font-size:18px;
}
a.btn-secondary{
    font-weight:bold;
    // color:var(--red);
    font-family:'GT America', sans-serif;
    background:var(--green);
    color:black;
    padding:5px 15px;
    margin-bottom:7px;
    display:inline-block;
}

p.lg{
    font-size:42px;
    margin-top:0px;
}

.home.main {
    display:flex;
    > div {
        width:calc(50vw - 0.5px);
        border-right:1px solid #969696;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        > div{
            padding:var(--margin);
            border-bottom:1px solid #969696;
        }
    }
    :last-child{
        border-right:0px solid #969696;
    }
    #custom{
        display:flex;
        flex-direction:column;
        justify-content: center;
        height:100%;
        background-size:cover;
        background-position:center;
        .module{
            border: 5px solid var(--red);
            padding:var(--margin);
            background:white;
            h2{margin:0px;}
        }
    }
}
.social img{
    width:26px;
    position: relative;
    top: 8px;
}




.main-two-up{
    display:flex;
    padding:var(--margin);
    img{
        width:100%;
    }
    > div:first-child{
        flex:4;
        margin-right:calc(var(--gutter)/2);
        h2, h3, .h3 {
            position:sticky;
            top:100px;
            margin-top:0px;
        }
        > *:not(.lefthand-link){
            max-width:360px;
        }
    }
    > div:nth-child(2){
        flex:8;
        margin-left:calc(var(--gutter)/2);
        > div{
            // margin-bottom:var(--spacer);
        }
    }
    h1{
        margin-top:0px;
        // max-width:400px;
    }
    .text-with-download{
        p{
            font-family:'GT America', sans-serif;
            font-size:24px;
            font-weight:bold;
            line-height:30px;
            margin:0px;
        }
        a{
            color:var(--red);
            font-size:18px;
            line-height:24px;
            font-family:'GT America', sans-serif;
        }
    }
    .text-block{
        ul {
            li{
                margin-bottom:15px;
            }
            li:before{
                content:'';
                width:12px;
                height:12px;
                display:inline-block;
                background-color:var(--red);
                border-radius:50%;
                margin-right:20px;
            }
        }
    }
    .img-block img{
        max-height: calc(66vw - var(--margin)*2 - var(--gutter));
        object-fit: cover;
    }
    .media-gallery-block, .other-film{
        display:flex;
        flex-wrap:wrap;
        > * {
            width:calc(50% - 30px);
        }
        > *:nth-child(odd){
            margin-right:calc(var(--gutter)/2);
        }
        > *:nth-child(even){
            margin-left:calc(var(--gutter)/2);
        }
        img{
            width:100%;
        }
        .img-container{position: relative;display:inline-block}
        .play{
            display:block;
            position:absolute;
            width: 0;
            height: 0;
            border-top: 40px solid transparent;
            border-left: 80px solid rgba(255,255,255,0.8);
            border-bottom: 40px solid transparent;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
        a:hover .play{border-left: 80px solid rgba(255,255,255,1);}
        h5{
            margin-bottom:var(--spacer);
        }
    }
    .timeline{
        ul li {display:flex;margin-bottom:20px;}
        b{
            font-family:'GT America', sans-serif;
        }
        h3{margin:0px;flex:1;}
        p{margin:0px;flex:5;margin-top: 10px;}
    }
    .portrait-gallery-block{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        > div{
            width:calc(33.333% - var(--gutter)*2/3);
        }
        p{    
            font-size:16px;
            line-height:21px;
        }
        img{
            width:100%;
            padding-top: 100%; /* 1:1 Aspect Ratio */
            position: relative;
            height: 0px;
            background:red;
        }
    }
    .portrait-gallery-block-small{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        > div{
            width:calc(25% - var(--gutter)*2/3);
            font-size:18px;
            line-height:24px;
            font-family:'GT America', sans-serif;
            margin-bottom: 50px;
            img{
                margin-bottom:10px;
            }
        }
    }
    .logos-block{
        display:flex;
        flex-wrap:wrap;
        // justify-content: space-between;
        > div{
            width:120px;
            margin-right:var(--gutter);
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .sponsors-amounts > li{
        display:flex;
        margin-bottom:20px;
        :first-child{flex:1}
        :nth-child(2){flex:3}
    }
}

//SLIDESHOW
// * {box-sizing: border-box}
// body {font-family: Verdana, sans-serif; margin:0}
.slide {display: none}
.slide img {vertical-align: middle;}

/* Slideshow container */
.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  figcaption{margin-top:15px;}
  figcaption span{
      display:inline-block;
      margin-right:10px;
  }
  svg{
      width:30px;
      cursor:pointer;
      path{fill:var(--red);}
  }
  .arrows{
      position:absolute;
      right:0px;
      top:calc(100% - 30px);
  }
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.lefthand-link{
    color:var(--red);
    font-family:'GT America', sans-serif;
    font-weight:bold;
    font-size:24px;
    line-height:30px;
    display: inline-block;
    max-width:300px;
}

figcaption, .smallest{
    font-family:'GT America', sans-serif;
    font-size:16px;
    line-height:24px;
}

.prefooter{
    border-top:1px solid #969696;
    border-bottom:1px solid #969696;
    padding:var(--margin);
    padding-bottom:var(--spacer);
    margin-top:120px;
}

.support-page{
    background:#F4364C12;
}

.donation-block-inner.pink{background:#F4364C12;}
.donation-block-inner{
    background:white;
    padding:56px;
    max-width:600px;
    margin-bottom:270px;
    h2{
        margin-top:0px;
        position:static;
        margin-bottom:30px;
        color:#333333;
    }
    > div {
        margin-bottom:100px;
    }
    .donation-buttons, .sponsorship-buttons {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        > div{
            text-align:center;
            border:5px solid var(--red);
            color:var(--red);
            padding:20px;
            width:calc(50% - 70px);
            font-size:36px;
            font-family:'GT America', sans-serif;
            margin-bottom:35px;
            background:white;
            cursor:pointer;
        }
        .btn-other span{
            position: relative;
            top: -4px;
        }
    }
    .sponsorship-buttons{
        > div{
            width:calc(100% - 70px);
            display:flex;
            justify-content: space-between;
            span:first-child{
                font-weight:normal;
                font-family: "William Text Regular";
                font-size: 24px;
                line-height:44px;
            }
        }
    }
    .payment-buttons button{
        margin-right:60px;
        padding-bottom:7px;
    }
    .payment-buttons button.active{
        color:var(--red);
        border-bottom:5px solid var(--red);
        background:transparent;
    }
    label{
        position:fixed;
        visibility:none;
        left:-100px;
        top:-100px;
    }
    input[type="text"]{
        font-size:24px;
        color:#333333;
        border:0px;
        border-bottom:5px solid var(--red);
        padding:7px 0px;
        width:100%;
        margin-bottom:30px;
        background:transparent;
    }
    input[type="text"]:focus{
        outline:none;
    }
    input[type="text"]::placeholder{
        color:#333333;
        font-family:'GT America', sans-serif;
    }
    button#donate-form--donate-btn{
        background:var(--red);
        color:white;
        padding:20px 30px;
        text-align:center;
        margin: auto;
        display: block;
    }
}

.newsletter-archive{
    a{
        margin-bottom:40px;
        display:inline-block;
    }
    h3{
        border-bottom:2px solid var(--green);
        padding-bottom:5px;
        display:inline-block;
        margin-bottom:10px;
        transition: color 200ms;
    }
    a:hover h3{
        color:var(--green);
        // border-bottom:2px solid #333333;
    }
}
.event-block{
    > div{
        display:flex;
    }
    img{
        width:300px;
        height:auto;
        margin-right:var(--gutter);
    }
    .time-location{
        font-family:'GT America', sans-serif;
        font-size:18px;
        line-height:24px;
    }
}