{% include head.html %}
{% include nav.html %}
{% include nav-bbw.html %}
<div class="main-two-up">
  <div>
    {% if page.current-year-blurb %}
    {{ page.current-year-blurb }}
    {% endif %}
  </div>
</div>
<div class="main-two-up">
  <h3><b>{{page.city}} {{page.year}}: Selected Projects</b></h3>
</div>
<div class="bbw-projects">
  {% for project in site.bbw-projects %}
    {% if project.draft != true %}
      {% if project.bbw-year == page.path %}

        {% if project.historical %}
        <div class="historical">
        {% else %}
        <div>
        {% endif %}
          <a href="{{ project.url }}">
            <img src="{{site.cloudinary}}/q_90,h_400/{{project.images[0].image}}">
            <h2>{{ project.title }}</h2>
            <p>{{ project.year }}</p>
            {% for architect in project.architects %}
            <p><b>{{architect.title}}</b><br>{{architect.role}}</p>
            {% endfor %}
            <label>Historical</label>
          </a>
        </div>

        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  {% if page.map %}
  <div class="main-two-up">
    <div>
      {% if page.map_link %}
      <a href="{{page.map_link}}" target="_blank" class="lefthand-link">Buy the Map→</a>
      {% endif %}
    </div>
    <div class="img-block">
      <a href="{{page.map_link}}" target="_blank">
        <img src="{{page.map.image}}" alt="{{page.map.caption}}">
        {% if page.map.caption %}
        <figcaption>{{page.map.caption}}</figcaption>
        {% endif %}
      </a>
    </div>
  </div>
  {% endif %}
  {% include prefooter.html %}
  {% include foot.html %}