{% include head.html %}
{% include nav.html %}
<div class="main-two-up">
  <div class="vertical-flex">
    <img id="bbw-logo" src="/assets/img/built-by-women.png">
  </div>
</div>

<!-- TODO: add the slideshow section as a block, and also add in the jury section, pulling from the data files.  -->

{% for block in page.page_blocks %}
{% if block.section_break %}
<div class="hr"></div>
{% endif %}
<div class="main-two-up">
  <div>
    {% if block.lefthand_text.header_type == 'Large Header' %}
    <h1>{{block.lefthand_text.text}}</h1>
    {% elsif block.lefthand_text.header_type == 'Medium Header' %}
    <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
    {% elsif block.lefthand_text.header_type == 'Small Header' %}
    <h2><b>{{block.lefthand_text.text}}</b></h2>
    {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
    <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
    {% elsif block.lefthand_text.header_type == 'Link' %}
    {% include block_l_link.html %}
    {% elsif block.lefthand_text.header_type == 'Text with Download' %}
    {% include block_l_link_download.html %}
    {% endif %}
  </div>
  <div>
    {% if block.template == "text-block" %}
    <section class="text-block">
      <div class="right-column">
        {{ block.text_block | markdownify }}
      </div>
    </section>
    {% elsif block.template == "miscellaneous-block" %}
    {% include block_r_misc.html %}
    {% elsif block.template == "image-block"%}
    {% include block_r_imageCC.html %}
    {% elsif block.template == "slideshow-block" %}
    {% include block_r_slideshow.html %}
    {% elsif block.template == "timeline-block"%}
    {% include block_r_timeline.html %}
    {% elsif block.template == "portrait-gallery-template"%}
    {% include block_r_portraits.html %}
    {% elsif block.template == "portrait-gallery-block-small" %}
    {% include block_r_portraits_sm.html %}
    {% elsif block.template == "featured-portrait-block" %}
    {% include block_r_featured-portrait.html %}
    {% elsif block.template == "media-gallery-block"%}
    {% include block_r_media_gallery.html %}
    {% elsif block.template == "buttons-block"%}
    {% include block_r_buttons.html %}
    {% elsif block.template == "cta-block"%}
    {% include block_r_cta.html %}
    {% elsif block.template == "bbw-slideshow-block"%}
    {% include block_r_bbw-slideshow.html %}
    {% endif %}
  </div>
</div>
{% endfor %}

<div class="main-two-up">
  <div class="vertical-flex-center">
    <div class="stats ss">
      {% for stat in page.stats %}
      <div>
        <span class="stat">{{stat.number}}%</span>
        <br>{{stat.label}}
      </div>
      {% endfor %}
    </div>
  </div>
  <div>
    <div class="text-block spacer">
      <img src="{{ page.images[0].image }}" style="float: right; width: 30%; margin-left: 2em;">
      {{ page.description | markdownify }}
    </div>



    {% for bbw-year in site.bbw-years %}
    {% assign yearPath = "_bbw-years/bbw-" | append: page.current-year | append: ".md" %}
    {% if bbw-year.path == yearPath %}
    {% assign currentYear = bbw-year %}

    
    {% endif %}
    {% endfor %}

    {% for bbw-jury in site.bbw-juries %}
    {% if bbw-jury.bbw_year == page.current-year %}
    {% assign currentJury = bbw-jury.url %}
    {% endif %}
    {% endfor %}

    <div class="img-block">
      <a href="{{currentYear.map_link}}" target="_blank">  
        <img src="{{page.map.image}}" alt="{{block.alt_text}}">
        {% if page.map.caption %}
        <figcaption>{{page.map.caption}}</figcaption>
        {% endif %}
      </a>
    </div>
  </div>
</div>

<div class="main-two-up">
  <div>
    {% for bbwYear in site.bbw-years %}

    {% if page.bbw_year == bbwYear.path %}
    {%assign year = bbwYear%}
    {%endif%}

    {% endfor %}
    <h2 class="h3"><b>Meet the Jury</b></h2>
  </div>
  <div>
    <div class="portrait-gallery-block-large">
      {% for person in page.jury_members %}
      <div>
        <div class="image-container">
          <img
            src="{{site.cloudinary}}/w_400,h_400,g_face,c_fill/{{person.image | remove: 'https://res.cloudinary.com/beverly-willis-architecture-foundation/image/upload/'}}"
            alt="{{person.name}}">
        </div>
        <div>
          <h2><b>{{person.title}}</b>
            <br>{{person.role}}
          </h2>
          <p>{{person.bio}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="main-two-up">
  <div>
    {% if currentYear.map_link %}
    <a href="{{currentYear.map_link}}" target="_blank" class="lefthand-link">Buy the Map→</a>
    {% endif %}
  </div>
  <div>
    <div class="text-block spacer">
      <p>{{page.current-year-blurb}}</p>
    </div>
    <br>

    <a href="{{currentYear.url}}" class="btn-primary spacer">
      View Selected Projects →
    </a>
  </div>
</div>

<div class="main-two-up">
  <div></div>
  <div>
    <div class="links">
      <span class="ss" style="margin-bottom:10px;display:block">View previous years' competitions:</span>
      {% assign yrs = site.bbw-years | sort: 'year' | reverse %}

      {% for bbw in yrs %}
      {% if bbw.year!= currentYear.year %}
      {% if bbw.link_out %}
      <a href="{{bbw.link_out_url}}" class="btn-secondary" target="_blank">{{bbw.city}} ({{bbw.year}}) →</a><br>
      {% else %}
      <a href="{{bbw.url}}" class="btn-secondary">{{bbw.city}} ({{bbw.year}}) →</a><br>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% include prefooter.html %}
{% include foot.html %}