{% include head.html %}
{% include nav.html %}
{% include nav-bbw.html %}
<div class="main-two-up">
    <h3><b>{{page.city}} {{page.year}}: Selected Projects</b></h3>
</div>
<!-- <div class="bbw-filters">
    <ul>
        <li>Sort by:</li>
        <li><button class="active">Year Built</button></li>
        <li><button>Project Name</button></li>
        <li><button>Architect</button></li>
        <li><button>Category</button></li>
    </ul>
</div> -->

<div class="bbw-projects">
    {% for project in site.bbw-projects %}

        {% if project.bbw-year == page.path %}

        {% if project.historical %}
        <div class="historical">
        {% else %}
        <div>
        {% endif %}
            <a href="{{ project.url }}">
                <img src="/assets/img/mission.png">
                <h2>{{ project.title }}</h2>
                <p>{{ project.year }}</p>
                {% for architect in project.architects %}
                <p><b>{{architect.title}}</b><br>{{architect.role}}</p>
                {% endfor %}
                <label>Historical</label>
            </a>
        </div>

        {% endif %}

    {% endfor %}
</div>
{% include prefooter.html %}
{% include foot.html %}