{% include head.html %}
{% include nav.html %}

<div>
      <div>
        {% for block in page.page_blocks %}
          {% if block.template == "slideshow-block" %}
            {% include block_r_slideshow.html %}
          {% endif %}
        {% endfor %}
       <div class="text-block" style="margin-top: 2em;">{{ page.description }}</div>
     
       <div class="pcast-player" style="position: sticky; margin-top: 0; top: 82px; padding: 1em 0 2em 0; background-color: #fff;">
        <div class="pcast-player-controls">
          <div class="pcast-player-title">Episode {{ page.episode_number }}: {{ page.title }}</div>
          <button class="pcast-play"><i class="fa fa-play"></i><span>Play</span></button>
          <button class="pcast-pause"><i class="fa fa-pause"></i><span>Pause</span></button>
          <button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span>Rewind</span></button>
          <span class="pcast-currenttime pcast-time">00:00</span>
          <progress class="pcast-progress" value="0"></progress>
          <span class="pcast-duration pcast-time">00:00</span>
          <button class="pcast-speed">1x</button>
          <button class="pcast-mute"><i class="fa fa-volume-up"></i><span>Mute/Unmute</span></button>
        </div>
        <audio src="{{ page.libsyn_link }}"></audio>
      </div>

      <hr>
      <p><strong>Transcript:</strong> {{ page.transcript }}</p>

      </div>    
  </div>
</div>

{% include prefooter.html %}

{% include foot.html %}
