{% include head.html %}
{% include nav.html %}

{% for block in page.page_blocks %}
{% if block.section_break %}
<div class="hr"></div>
{% endif %}
<div class="main-two-up">
    <div>
        {% if block.lefthand_text.header_type == 'Large Header' %}
        <h1>{{block.lefthand_text.text}}</h1>
        {% elsif block.lefthand_text.header_type == 'Medium Header' %}
        <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Small Header' %}
        <h2><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
        <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
        {% elsif block.lefthand_text.header_type == 'Link' %}
        {% include block_l_link.html %}
        {% elsif block.lefthand_text.header_type == 'Text with Download' %}
        {% include block_l_link_download.html %}
        {% endif %}
    </div>
    <div>
        {% if block.template == "text-block" %}
        {% include block_r_text.html %}
        {% elsif block.template == "miscellaneous-block" %}
        {% include block_r_misc.html %}
        {% elsif block.template == "image-block"%}
        {% include block_r_image.html %}
        {% elsif block.template == "slideshow-block" %}
        {% include block_r_slideshow.html %}
        {% elsif block.template == "timeline-block"%}
        {% include block_r_timeline.html %}
        {% elsif block.template == "portrait-gallery-template"%}
        {% include block_r_portraits.html %}
        {% elsif block.template == "portrait-gallery-block-small" %}
        {% include block_r_portraits_sm.html %}
        {% elsif block.template == "featured-portrait-block" %}
        {% include block_r_featured-portrait.html %}
        {% elsif block.template == "media-gallery-block"%}
        {% include block_r_media_gallery.html %}
        {% endif %}
    </div>
</div>
{% endfor %}


{% if page.title == "Film Collection" %}
<div class="hr"></div>
<div class="main-two-up">
    <div>
        <h2><b>More films from the Collection</b></h2>
    </div>
    <div>
        <div class="other-film">
            {% for film in site.films %}
            <div>
                <img src="{{ film.image }}">
                <h2><b><i>{{film.title}}</i></b></h2>
                <p>{{film.description}}</p>
                <p><a href="{{film.url}}">Learn More</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if page.title == "Newsletter Archive" %}
<div class="hr"></div>
<div class="main-two-up">
    <div>
        <a href="{{block.lefthand_text.link_url}}" target="_blank" class="lefthand-link" style="color: var(--green)">Sign up for the newsletter and get the latest news on upcoming programs and events →</a>
    </div>
    <div>
        <div class="newsletter-archive">
            <a href="/">
                <h3><b>Angles</b> / November 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
            <a href="/">
                <h3><b>Briefly</b> / October 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
            <a href="/">
                <h3><b>Dispatches from Home</b> / December 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
            <a href="/">
                <h3><b>Angles</b> / November 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if page.url contains "emerging-leaders" %}
<div class="main-two-up">
    <div>
    </div>
    <div>
        <h5>View previous sessions from recent years:</h5>
            {% assign els = site.emerging-leaders | sort: 'date' | reverse %}
            {% for el in els %}
                {% if page.url != el.url %}
                <a href="{{el.url}}" class="btn-secondary">{{ el.date | date: "%Y" }}: {{el.title}}→</a><br>
                {% endif %}
            {% endfor %}
    </div>
</div>

<div class="hr"></div>
<div class="main-two-up">
        <div>
            <h2 class="h3"><b>Become a Sponsor</b></h2>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select a sponsorship</b></h2>
                    <div class="sponsorship-buttons">
                        <div>
                            <span>Presenting Sponsor</span>
                            <span>$25,000</span>
                        </div>
                        <div>
                            <span>Program Sponsor</span>
                            <span>$10,000</span>
                        </div>
                        <div>
                            <span>Seminar Sponsor</span>
                            <span>$5,000</span>
                        </div>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active"><b>PayPal</b></button>
                        <button class="h2"><b>Check</b></button>
                    </div>
                </div>
                <div>
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                </div>
                <button id="donate-form--donate-btn"><span class="h2"><b>Donate Now</b></span></button>
            </div>
        </div>
    </div>
{% endif %}

{% if page.title == "Leadership Awards Gala" %}
<div class="main-two-up">
    <div>
    </div>
    <div>
        <a href="#" class="btn-secondary">Visit the Gala Website→</a>
    </div>
</div>
{% endif %}

{% if page.title == "Friends" %}
<div class="hr"></div>
<div class="main-two-up">
        <div>
            <h2 class="h3"><b>Become a Friend</b></h2>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select a membership</b></h2>
                    <div class="sponsorship-buttons">
                        <div>
                            <span>Early Professional</span>
                            <span>$250</span>
                        </div>
                        <div>
                            <span>Professional</span>
                            <span>$450</span>
                        </div>
                        <div>
                            <span>Corporate Friendship</span>
                            <span>$5,000</span>
                        </div>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active"><b>PayPal</b></button>
                        <button class="h2"><b>Check</b></button>
                    </div>
                </div>
                <div>
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                </div>
                <button id="donate-form--donate-btn"><span class="h2"><b>Donate Now</b></span></button>
            </div>
        </div>
    </div>
{% endif %}

{% if page.title == "Industry Leaders Roundtable Retreat" %}
<div class="main-two-up">
        <div>
            <a href="#" target="_blank" class="lefthand-link">Do you have questions? Send us an email→</a>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select number of participants</b></h2>
                    <div class="sponsorship-buttons">
                        <div>
                            <span>Individual</span>
                            <span>$2,500</span>
                        </div>
                        <div>
                            <span>Firm Team (2 attendees)</span>
                            <span>$4,500</span>
                        </div>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active"><b>PayPal</b></button>
                        <button class="h2"><b>Check</b></button>
                    </div>
                </div>
                <div>
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                </div>
                <button id="donate-form--donate-btn"><span class="h2"><b>Submit</b></span></button>
            </div>
        </div>
    </div>
{% endif %}

{% include prefooter.html %}

{% include foot.html %}