{% include head.html %}
{% include nav.html %}

{% for block in page.page_blocks %}
{% if block.section_break %}
<div class="hr"></div>
{% endif %}
<div class="main-two-up">
    <div>
        {% if block.lefthand_text.header_type == 'Large Header' %}
        <h1>{{block.lefthand_text.text}}</h1>
        {% elsif block.lefthand_text.header_type == 'Medium Header' %}
        <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Small Header' %}
        <h2><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
        <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
        {% elsif block.lefthand_text.header_type == 'Link' %}
        {% include block_l_link.html %}
        {% elsif block.lefthand_text.header_type == 'Text with Download' %}
        {% include block_l_link_download.html %}
        {% endif %}
    </div>
    <div>
        {% if block.template == "text-block" %}
        {% include block_r_text.html %}
        {% elsif block.template == "miscellaneous-block" %}
        {% include block_r_misc.html %}
        {% elsif block.template == "code-block" %}
        {% include block_r_code.html %}
        {% elsif block.template == "image-block"%}
        {% include block_r_imageCC.html %}
        {% elsif block.template == "slideshow-block" %}
        {% include block_r_slideshowCC.html %}
        {% elsif block.template == "form-block" %}
        {% include block_r_form.html %}
        {% elsif block.template == "timeline-block"%}
        {% include block_r_timeline.html %}
        {% elsif block.template == "portrait-gallery-template"%}
        {% include block_r_portraitsCC.html %}
        {% elsif block.template == "portrait-gallery-template-add-category"%}
        {% include block_r_portraits_categoryCC.html %}
        {% elsif block.template == "portrait-gallery-template-add-award"%}
        {% include block_r_portraits_awardCC.html %}
        {% elsif block.template == "portrait-gallery-block-small" %}
        {% include block_r_portraits_smCC.html %}
        {% elsif block.template == "featured-portrait-block" %}
        {% include block_r_featured-portraitCC.html %}
        {% elsif block.template == "media-gallery-block"%}
        {% include block_r_media_galleryCC.html %}
        {% elsif block.template == "buttons-block"%}
        {% include block_r_buttons.html %}
        {% elsif block.template == "cta-block"%}
        {% include block_r_cta.html %}
        {% elsif block.template == "sponsor-block"%}
        {% include block_r_sponsors.html %}
        {% elsif block.template == "sponsor-levels"%}
        {% include block_r_sponsor-levels.html %}
        {% endif %}
    </div>
</div>
{% endfor %}


{% if page.title == "Film Collection" %}
<div class="hr"></div>
<div class="main-two-up">
    <div>
        <h2><b>More films from the Collection</b></h2>
    </div>
    <div>
        <div class="other-film">
            {% for film in site.films %}
            <div>
                <img src="{{site.cloudinary}}{{ film.image }}">
                <h2><b><i>{{film.title}}</i></b></h2>
                <p>{{film.description}}</p>
                <!-- <p><a href="{{film.url}}" target="_blank">Learn More</a></p>  Commented 1/18/22 JKG - links currently don't lead anywhere -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if page.url contains "emerging-leaders" %}
<div class="main-two-up">
    <div>
    </div>
    <div>
        <h5>View previous sessions from recent years:</h5>
            {% assign els = site.emerging-leaders | sort: 'date' | reverse %}
            {% for el in els %}
                {% if page.url != el.url %}
                <a href="{{el.url}}" class="btn-secondary">{{ el.date | date: "%Y" }}: {{el.title}}→</a><br>
                {% endif %}
            {% endfor %}
    </div>
</div>

<div class="hr"></div>
<div class="main-two-up">
        <div>
            <h2 class="h3"><b>Become a Sponsor</b></h2>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select a sponsorship</b></h2>
                    <div class="sponsorship-buttons">
                        <label>
                            <span>Presenting Sponsor</span>
                            <span>$25,000</span>
                            <input type="radio" name="sponsorship-type" value="25000">
                        </label>
                        <label>
                            <span>Program Sponsor</span>
                            <span>$10,000</span>
                            <input type="radio" name="sponsorship-type" value="10000">
                        </label>
                        <label>
                            <span>Seminar Sponsor</span>
                            <span>$5,000</span>
                            <input type="radio" name="sponsorship-type" value="5000">
                        </label>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active" id="btnPaypal"><b>PayPal</b></button>
                        <button class="h2" id="btnPayByCheck"><b>Check</b></button>
                    </div>
                </div>
                <div id="view-paypal">
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                    <button id="donate-form--donate-btn"><span class="h2"><b>Donate Now</b></span></button>
                </div>
                <div id="view-pay-by-check">
                    <h2>Please make your check payable to:<br><b>Beverly Willis Architecture Foundation</b></h2>
                    
                    <h2>Please mail your check to:
                        <br><b>Beverly Willis Architecture Foundation</b>
                        <br><b>424 W 33rd St., unit 280<br>New York, NY 10001</b>
                    </h2>
                    <figcaption>All contributions will be gratefully acknowledged and are 100% tax deductible.</figcaption>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/form.js"></script>
{% endif %}

{% if page.url contains "emerging-firms" %}
<div class="main-two-up">
    <div>
    </div>
    <div>
        {% assign firms-size = site.emerging-firms | size %}
        {% if firms-size > 1 %}
        <h5>View previous sessions from recent years:</h5>
            {% assign els = site.emerging-firms | sort: 'date' | reverse %}
            {% for el in els %}
                {% if page.url != el.url %}
                <a href="{{el.url}}" class="btn-secondary">{{ el.date | date: "%Y" }}: {{el.title}}→</a><br>
                {% endif %}
            {% endfor %}
        {% endif %}    
    </div>
</div>

<div class="hr"></div>
<div class="main-two-up">
        <div>
            <h2 class="h3"><b>Become a Sponsor</b></h2>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select a sponsorship</b></h2>
                    <div class="sponsorship-buttons">
                        <label>
                            <span>Presenting Sponsor</span>
                            <span>$25,000</span>
                            <input type="radio" name="sponsorship-type" value="25000">
                        </label>
                        <label>
                            <span>Program Sponsor</span>
                            <span>$10,000</span>
                            <input type="radio" name="sponsorship-type" value="10000">
                        </label>
                        <label>
                            <span>Seminar Sponsor</span>
                            <span>$5,000</span>
                            <input type="radio" name="sponsorship-type" value="5000">
                        </label>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active" id="btnPaypal"><b>PayPal</b></button>
                        <button class="h2" id="btnPayByCheck"><b>Check</b></button>
                    </div>
                </div>
                <div id="view-paypal">
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                    <button id="donate-form--donate-btn"><span class="h2"><b>Donate Now</b></span></button>
                </div>
                <div id="view-pay-by-check">
                    <h2>Please make your check payable to:<br><b>Beverly Willis Architecture Foundation</b></h2>
                    
                    <h2>Please mail your check to:
                        <br><b>Beverly Willis Architecture Foundation</b>
                        <br><b>424 W 33rd St., unit 280<br>New York, NY 10001</b>
                    </h2>
                    <figcaption>All contributions will be gratefully acknowledged and are 100% tax deductible.</figcaption>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/form.js"></script>
{% endif %}

{% include prefooter.html %}

{% include foot.html %}