{% include head.html %}
{% include nav.html %}

{% for block in page.page_blocks %}
{% if block.section_break %}
<div class="hr"></div>
{% endif %}
<div class="main-two-up">
    <div>
        {% if block.lefthand_text.header_type == 'Large Header' %}
        <h1>{{block.lefthand_text.text}}</h1>
        {% elsif block.lefthand_text.header_type == 'Medium Header' %}
        <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Small Header' %}
        <h2><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
        <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
        {% elsif block.lefthand_text.header_type == 'Link' %}
        <a href="{{block.lefthand_text.link_url}}" target="_blank" class="lefthand-link">{{block.lefthand_text.text}}→</a>
        {% elsif block.lefthand_text.header_type == 'Text with Download' %}
        <div class="text-with-download">
            <p>{{block.lefthand_text.text}}</p>
            <a href="{{site.cloudinary}}{{block.lefthand_text.download}}" download>
                {{block.lefthand_text.link_text}}
                <svg id="Download" xmlns="http://www.w3.org/2000/svg" width="14.97" height="14.554" viewBox="0 0 14.97 14.554">
                    <path id="Path" d="M9.975,4.977H7.431V0h-5.1V4.977H0l5.03,5Z" transform="translate(2.493 0.108)" fill="#f4364c"/>
                    <path id="Path-2" data-name="Path" d="M12.469,0V2.494H2.494V0H0V4.987H14.963V0Z" transform="translate(0.004 9.459)" fill="#f4364c"/>
                </svg>
            </a>
        </div>
        {% endif %}
    </div>
    <div>
        {% if block.template == "text-block" %}
        <div class="text-block">
            {{block.text_block | markdownify}}
        </div>
        {% elsif block.template == "image-block"%}
        <div class="img-block">
            <img src="{{site.cloudinary}}{{block.image}}" alt="{{block.alt_text}}">
            <figcaption>{{block.image_caption_text}}</figcaption>
        </div>
        {% elsif block.template == "slideshow-block" %}
        <div class="slideshow">
            {% for img in block.image %}
            <div class="slide fade">
                <img src="{{site.cloudinary}}{{img.image}}" style="width:100%">
                <figcaption>
                    <span><b>{{forloop.index}} of {{block.image | size}}</b></span>
                    {{img.caption}}
                </figcaption>
            </div>
            {% endfor %}
            <div class="arrows">
                <a class="prev" onclick="plusSlides(-1)">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-circle-left" class="svg-inline--fa fa-arrow-alt-circle-left fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm116-292H256v-70.9c0-10.7-13-16.1-20.5-8.5L121.2 247.5c-4.7 4.7-4.7 12.2 0 16.9l114.3 114.9c7.6 7.6 20.5 2.2 20.5-8.5V300h116c6.6 0 12-5.4 12-12v-64c0-6.6-5.4-12-12-12z"></path></svg>
                </a>
                <a class="next" onclick="plusSlides(1)">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-alt-circle-right" class="svg-inline--fa fa-arrow-alt-circle-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"></path></svg>
                </a>
            </div>
        </div>
        <script src="/assets/js/slideshow.js"></script>
        {% elsif block.template == "timeline-block"%}
        <div class="timeline">
            <ul>
                {% for item in block.timeline %}
                <li>
                    <h3>{{item.year}}</h3>
                    <p><b>{{item.header}}</b> — {{item.description}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% elsif block.template == "portrait-gallery-template"%}
        <div class="portrait-gallery-block">
            {% for person in block.portrait %}
            <div>
                <img src="{{site.cloudinary}}{{person.image}}">
                <h5>
                    <b>{{person.title}}</b>
                    <br>{{person.title_role}}
                </h5>
                <p class="sm">{{person.description | markdownify}}</p>
            </div>
            {% endfor %}
        </div>
        {% elsif block.template == "portrait-gallery-block-small" %}
        <h2><b>Meet our 2020 Emerging Leaders</b></h2>
        <div class="portrait-gallery-block-small">
            {% for person in block.portrait %}
            <div>
                <img src="{{site.cloudinary}}{{person.image}}">
                <b>{{person.title}}</b>
                <br>{{person.title_role}}
            </div>
            {% endfor %}
        </div>
        {% elsif block.template == "media-gallery-block"%}
        <div class="media-gallery-block">
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}


{% if page.title == "Film Collection" %}
<div class="hr"></div>
<div class="main-two-up">
    <div>
        <h2><b>More films from the Collection</b></h2>
    </div>
    <div>
        <div class="other-film">
            <div>
                <img src="/assets/img/film-placeholder.png">
                <h2><b><i>A Girl is a Fellow Here: 100 Women Architects in the Studio of Frank Lloyd Wright</i></b></h2>
                <p>At a time when few architectural firms would hire women, Frank Lloyd Wright unhesitatingly employed women, giving them both training and the opportunity to practice. Ultimately, over 100 women architects and designers worked with Wright, many of them going on to remarkable careers of their own. This film focuses on six of those women—Marion Mahony, Isabel Roberts, Lois Gottlieb, Jane Duncombe, Eleanore Pettersen, and Read Weber.</p>
                <p><a href="#">Learn More</a></p>
            </div>
            <div>
                <img src="/assets/img/film-placeholder.png">
                <h2><b><i>Eames: The Architect and the Painter</i></b></h2>
                <p>BWAF helped fund Eames: The Architect and the Painter. Fellow Jason Cohn (2006), researched the life and work of Ray (Kaiser) Eames, partner in the legendary design team, focusing on issues of artistic collaboration.</p>
                <p><a href="#">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if page.title == "Newsletter Archive" %}
<div class="hr"></div>
<div class="main-two-up">
    <div>
        <a href="{{block.lefthand_text.link_url}}" target="_blank" class="lefthand-link" style="color: var(--green)">Sign up for the newsletter and get the latest news on upcoming programs and events →</a>
    </div>
    <div>
        <div class="newsletter-archive">
            <a href="/">
                <h3><b>Angles</b> / November 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
            <a href="/">
                <h3><b>Briefly</b> / October 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
            <a href="/">
                <h3><b>Dispatches from Home</b> / December 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
            <a href="/">
                <h3><b>Angles</b> / November 2020</h3>
                <p>Announcing the new Beverly Willis Architecture Foundation podcast. Feminist City, a new book by Leslie Kern. Emerging Leaders applications are open.</p>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if page.title == "Emerging Leaders" %}
<div class="main-two-up">
    <div>
    </div>
    <div>
        <div class="event-block">
            <h2><b>Priorities</b></h2>
            <div>
                <div>
                    <img src="/assets/img/event-placeholder.png">
                </div>
                <div>
                    <h6>Speaker</h6>
                    <h5><b>Margaret Newman, FAIA, LEED AP BD+C</b>
                        <br>Principal, Integrated Planning Team | Arup
                    </h5>
                    <p>How do we ever know what to do first? How do our priorities change as our career develops? Discuss these challenges with Bloomberg administration veteran New York City Department of Transportation Commissioner Chief of Staff, Arup Urban Planner and Principal, Margaret Newman.</p>
                    <h6>Time and location</h6>
                    <p class="time-location">
                        <b>
                            April 14, 2020
                            <br>Virtual session
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-two-up">
    <div>
    </div>
    <div>
        <div class="event-block">
            <h2><b>Priorities</b></h2>
            <div>
                <div>
                    <img src="/assets/img/event-placeholder.png">
                </div>
                <div>
                    <h6>Personhood</h6>
                    <h5><b>Ann Rolland, FAIA</b>
                        <br>Partner | FXCollaborative
                    </h5>
                    <p>Are there challenges for non-heteronormative professionals in the workplace? How can you learn to bring your full self to work? Hear from Annie Rolland, FAIA, Partner at FXCollaborative on her journey.</p>
                    <h6>Time and location</h6>
                    <p class="time-location">
                        <b>
                            April 14, 2020
                            <br>Virtual session
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-two-up">
    <div>
    </div>
    <div>
        <h5>View previous sessions from recent years:</h5>
        <a href="#" class="btn-secondary">2018: Finance, Fulfillment, Family→</a><br>
        <a href="#" class="btn-secondary">2018: Networking, Negotiating, “Nice”→</a><br>
        <a href="#" class="btn-secondary">2017: Risk, Rain-Making, Resilience→</a><br>
    </div>
</div>

<div class="hr"></div>
<div class="main-two-up">
        <div>
            <h2 class="h3"><b>Become a Sponsor</b></h2>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select a sponsorship</b></h2>
                    <div class="sponsorship-buttons">
                        <div>
                            <span>Presenting Sponsor</span>
                            <span>$25,000</span>
                        </div>
                        <div>
                            <span>Program Sponsor</span>
                            <span>$10,000</span>
                        </div>
                        <div>
                            <span>Seminar Sponsor</span>
                            <span>$5,000</span>
                        </div>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active"><b>PayPal</b></button>
                        <button class="h2"><b>Check</b></button>
                    </div>
                </div>
                <div>
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                </div>
                <button id="donate-form--donate-btn"><span class="h2"><b>Donate Now</b></span></button>
            </div>
        </div>
    </div>
{% endif %}

{% if page.title == "Leadership Awards Gala" %}
<div class="main-two-up">
    <div>
    </div>
    <div>
        <a href="#" class="btn-secondary">Visit the Gala Website→</a>
    </div>
</div>
{% endif %}

{% if page.title == "Friends" %}
<div class="hr"></div>
<div class="main-two-up">
        <div>
            <h2 class="h3"><b>Become a Friend</b></h2>
        </div>
        <div class="donation-block">
            <div class="donation-block-inner pink">
                <div>
                    <h2><b>Select a membership</b></h2>
                    <div class="sponsorship-buttons">
                        <div>
                            <span>Early Professional</span>
                            <span>$250</span>
                        </div>
                        <div>
                            <span>Professional</span>
                            <span>$450</span>
                        </div>
                        <div>
                            <span>Corporate Friendship</span>
                            <span>$5,000</span>
                        </div>
                    </div>
                </div>
                <div>
                    <h2><b>Select payment method</b></h2>
                    <div class="payment-buttons">
                        <button class="h2 active"><b>PayPal</b></button>
                        <button class="h2"><b>Check</b></button>
                    </div>
                </div>
                <div>
                    <h2><b>Enter your information</b></h2>
                    <label for="firstname">First name</label>
                    <input type="text" name="firstname" id="firstname" placeholder="First name"><br>
                    <label for="firstname">Last name</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Last name"><br>
                    <label for="firstname">Email address</label>
                    <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address"><br>
                </div>
                <button id="donate-form--donate-btn"><span class="h2"><b>Donate Now</b></span></button>
            </div>
        </div>
    </div>
{% endif %}

{% include prefooter.html %}

{% include foot.html %}