{% include head.html %}
{% include nav.html %}

{% for block in page.page_blocks %}
<div class="main-two-up">
    <div>
        {% if block.lefthand_text.header_type == 'Large Header' %}
        <h1>{{block.lefthand_text.text}}</h1>
        {% elsif block.lefthand_text.header_type == 'Medium Header' %}
        <h2><b>{{block.lefthand_text.text}}</b></h2>
        {% endif %}
    </div>
    <div>
        {% if block.template == "text-block" %}
        <div class="text-block">
            {{block.text_block | markdownify}}
        </div>
        {% elsif block.template == "image-block"%}
        <div class="img-block">
            <img src="{{site.cloudinary}}{{block.image}}" alt="{{block.alt_text}}">
            <figcaption>{{block.image_caption_text}}</figcaption>
        </div>
        {% elsif block.template == "timeline-block"%}
        <div class="timeline">
            <ul>
                {% for item in block.timeline %}
                <li>
                    <h3>{{item.year}}</h3>
                    <p><b>{{item.header}}</b> — {{item.description}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% elsif block.template == "portrait-gallery-template"%}
        <div class="portrait-gallery-block">
            {% for person in block.portrait %}
            <div>
                <img src="{{site.cloudinary}}{{person.image}}">
                <h5>
                    <b>{{person.title}}</b>
                    <br>{{person.title_role}}
                </h5>
                <p class="sm">{{person.description | markdownify}}</p>
            </div>
            {% endfor %}
        </div>
        {% elsif block.template == "media-gallery-block"%}
        <div class="media-gallery-block">
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="img-container">
                        <img src="/assets/img/beverly-willis-video.png" alt="">
                        <span class="play"></span>
                    </div>
                    <h5><b>Title of media clip about Beverly Willis</b></h5>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}

{% include prefooter.html %}

{% include foot.html %}