{% include head.html %}
{% include nav.html %}

{% for block in page.page_blocks %}
{% if block.section_break %}
<div class="hr"></div>
{% endif %}
<div class="main-two-up">
    <div>
        {% if block.lefthand_text.header_type == 'Large Header' %}
        <h1>{{block.lefthand_text.text}}</h1>
        {% elsif block.lefthand_text.header_type == 'Medium Header' %}
        <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Small Header' %}
        <h2><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
        <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
        {% elsif block.lefthand_text.header_type == 'Link' %}
        {% include block_l_link.html %}
        {% elsif block.lefthand_text.header_type == 'Text with Download' %}
        {% include block_l_link_download.html %}
        {% endif %}
    </div>
    <div>
        {% if block.template == "text-block" %}
        {% include block_r_text.html %}
        {% elsif block.template == "miscellaneous-block" %}
        {% include block_r_misc.html %}
        {% elsif block.template == "image-block"%}
        {% include block_r_imageCC.html %}
        {% elsif block.template == "slideshow-block" %}
        {% include block_r_slideshowCC.html %}
        {% elsif block.template == "form-block" %}
        {% include block_r_form.html %}
        {% elsif block.template == "timeline-block"%}
        {% include block_r_timeline.html %}
        {% elsif block.template == "portrait-gallery-template"%}
        {% include block_r_portraitsCC.html %}
        {% elsif block.template == "portrait-gallery-template-add-category"%}
        {% include block_r_portraits_categoryCC.html %}
        {% elsif block.template == "portrait-gallery-block-small" %}
        {% include block_r_portraits_smCC.html %}
        {% elsif block.template == "featured-portrait-block" %}
        {% include block_r_featured-portraitCC.html %}
        {% elsif block.template == "media-gallery-block"%}
        {% include block_r_media_galleryCC.html %}
        {% elsif block.template == "buttons-block"%}
        {% include block_r_buttons.html %}
        {% elsif block.template == "cta-block"%}
        {% include block_r_cta.html %}
        {% elsif block.template == "sponsor-block"%}
        {% include block_r_sponsors.html %}
        {% elsif block.template == "sponsor-levels"%}
        {% include block_r_sponsor-levels.html %}
        {% endif %}
    </div>
</div>
{% endfor %}

{% include prefooter.html %}

{% include foot.html %}