{% include head.html %}
{% include nav.html %}


{% for block in page.page_blocks %}
{% if block.section_break %}
<div class="hr"></div>
{% endif %}
<div class="main-two-up">
    <div>
        {% if block.lefthand_text.header_type == 'Large Header' %}
        <h1>{{block.lefthand_text.text}}</h1>
        {% elsif block.lefthand_text.header_type == 'Medium Header' %}
        <h2 class="h3"><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Small Header' %}
        <h2><b>{{block.lefthand_text.text}}</b></h2>
        {% elsif block.lefthand_text.header_type == 'Film/Book Title' %}
        <h3><b><i>{{block.lefthand_text.text}}</i></b></h3>
        {% elsif block.lefthand_text.header_type == 'Link' %}
        {% include block_l_link.html %}
        {% elsif block.lefthand_text.header_type == 'Text with Download' %}
        {% include block_l_link_download.html %}
        {% endif %}
    </div>
    <div>
        {% if block.template == "text-block" %}
        {% include block_r_text.html %}
        {% elsif block.template == "miscellaneous-block" %}
        {% include block_r_misc.html %}
        {% elsif block.template == "image-block"%}
        {% include block_r_imageCC.html %}
        {% elsif block.template == "slideshow-block" %}
        {% include block_r_slideshow.html %}
        {% elsif block.template == "timeline-block"%}
        {% include block_r_timeline.html %}
        {% elsif block.template == "portrait-gallery-template"%}
        {% include block_r_portraits.html %}
        {% elsif block.template == "portrait-gallery-block-small" %}
        {% include block_r_portraits_sm.html %}
        {% elsif block.template == "featured-portrait-block" %}
        {% include block_r_featured-portrait.html %}
        {% elsif block.template == "media-gallery-block"%}
        {% include block_r_media_gallery.html %}
        {% elsif block.template == "buttons-block"%}
        {% include block_r_buttons.html %}
        {% elsif block.template == "cta-block"%}
        {% include block_r_cta.html %}
        {% endif %}
    </div>
</div>
{% endfor %}


{% assign groups = site.podcasts | group_by: "season" | sort: "season" | reverse  %}

{% for group in groups %}
  <div class="main-two-up">
    <h2><b>Season {{ group.name }}</b></h2>
  </div>
    {% for podcast in group.items %}
    
    <div class="main-two-up">
      <div class="podcast">
        <p class="podcast-episode-number">Episode {{ podcast.episode_number }}</p>
        <h3><b><i>{{ podcast.title }}</i></b></h3>
        {% if podcast.podcast_available == true %}
    
          {% if podcast.apple_podcast_link != '' or podcast.google_podcast_link != '' or podcast.spotify_link != '' %}
    
            <div><span class="listen">Listen on:</span><br>
    
              {% if podcast.apple_podcast_link != '' %}
                <a class="lefthand-link" href="{{ podcast.apple_podcast_link }}">Apple Podcasts<span>
                  <svg id="Launch" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                  <path id="Path_13" data-name="Path 13" d="M26,3.005v9.059L22.386,8.449,11.765,19.07l-1.83-1.83L20.556,6.619,16.941,3.005ZM22.118,25H4V6.887H14.353V9.476H6.588V22.417H19.529V14.652h2.588Z" transform="translate(-4 -3.005)" fill="var(--red)" fill-rule="evenodd"></path>
                  </svg>
              </span></a><br>
              {% endif %}
              {% if podcast.google_podcast_link != '' %}
                <a class="lefthand-link" href="{{ podcast.google_podcast_link }}">Google Podcasts<span>
                  <svg id="Launch" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                  <path id="Path_13" data-name="Path 13" d="M26,3.005v9.059L22.386,8.449,11.765,19.07l-1.83-1.83L20.556,6.619,16.941,3.005ZM22.118,25H4V6.887H14.353V9.476H6.588V22.417H19.529V14.652h2.588Z" transform="translate(-4 -3.005)" fill="var(--red)" fill-rule="evenodd"></path>
                  </svg>
              </span></a><br>
              {% endif %}
              {% if podcast.spotify_link != '' %}
                <a class="lefthand-link" href="{{ podcast.spotify_link }}">Spotify<span>
                  <svg id="Launch" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                  <path id="Path_13" data-name="Path 13" d="M26,3.005v9.059L22.386,8.449,11.765,19.07l-1.83-1.83L20.556,6.619,16.941,3.005ZM22.118,25H4V6.887H14.353V9.476H6.588V22.417H19.529V14.652h2.588Z" transform="translate(-4 -3.005)" fill="var(--red)" fill-rule="evenodd"></path>
                  </svg>
              </span></a>
              {% endif %}
          </div>
        {% else %}  
          <div><span class="listen">Listen on:</span><br>
            <a class="lefthand-link" href="{{ podcast.libsyn_link }}">LibSyn<span>
              <svg id="Launch" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
              <path id="Path_13" data-name="Path 13" d="M26,3.005v9.059L22.386,8.449,11.765,19.07l-1.83-1.83L20.556,6.619,16.941,3.005ZM22.118,25H4V6.887H14.353V9.476H6.588V22.417H19.529V14.652h2.588Z" transform="translate(-4 -3.005)" fill="var(--red)" fill-rule="evenodd"></path>
              </svg>
          </span></a></div>
        {% endif %}
        {% endif %}
      </div>
      <div class="main-two-up">
        <div><img src="{{ podcast.thumbnail_image }}" class="podcast-thumbnail"><br>
          <!-- <a href="#" class="btn-primary" style="padding: .3em 1em; text-transform: uppercase;">Listen</a> -->
        </div>
        <div>{{ podcast.description }}
          {% if podcast.podcast_available == true %}      
            <!-- <p><a href="/resources/podcasts/{{ podcast.url | split: '/' | last }}">Learn more</a></p> -->
          {% endif %} 
          {% if podcast.podcast_available != true %}
            <p class="podcast-coming-soon">Coming soon!</p>
          {% endif %} 
        </div>    
      </div>
    </div>
    {% if podcast.podcast_available == true %}
    <div class="main-two-up">  
      <div>
        <a class="pcast-download" href='{{ podcast.libsyn_link }}' download>Download <svg id="Download" xmlns="http://www.w3.org/2000/svg" width="14.97" height="14.554" viewBox="0 0 14.97 14.554">
        <path id="Path" d="M9.975,4.977H7.431V0h-5.1V4.977H0l5.03,5Z" transform="translate(2.493 0.108)" fill="#f4364c"></path>
        <path id="Path-2" data-name="Path" d="M12.469,0V2.494H2.494V0H0V4.987H14.963V0Z" transform="translate(0.004 9.459)" fill="#f4364c"></path>
    </svg></a></div>
      <div class="pcast-player">
        <div class="pcast-player-controls">
          <div class="pcast-player-title">Episode {{ podcast.episode_number }}: {{ podcast.title }}</div>
          <button class="pcast-play"><i class="fa fa-play"></i><span>Play</span></button>
          <button class="pcast-pause"><i class="fa fa-pause"></i><span>Pause</span></button>
          <button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span>Rewind</span></button>
          <span class="pcast-currenttime pcast-time">00:00</span>
          <progress class="pcast-progress" value="0"></progress>
          <span class="pcast-duration pcast-time">00:00</span>
          <button class="pcast-speed">1x</button>
          <button class="pcast-mute"><i class="fa fa-volume-up"></i><span>Mute/Unmute</span></button>
        </div>
        <audio src="{{ podcast.libsyn_link }}"></audio>
      </div>
    </div>
    {% endif %}
    <hr>
    {%endfor%}
{%endfor%}

{% include prefooter.html %}

{% include foot.html %}